body {
    font-family: sans-serif;
    background-color: #fff27d;
}

footer h2{
    color: white;
}

footer{
    background-color: black;
}

main img{
    width: 410px;
    height: 310px;
    margin-left: 90px;

}

header img{
    width: 610px;
    height: 370px;
}

a{
    text-decoration: none;
}


td{
    border: 2px solid blue;
}

table{
    border-collapse: collapse;
}

tr:first-child{
    background-color: paleturquoise;
}

h1{
    text-align: center ;
}

.M{
    text-align: center;
    border: 10px dashed blue;
    border-radius: 5px;
    height: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}


header a{
    color: black;   
    font-size: 20px;
    text-decoration: none;
    border: 3px dashed blue;
    border-radius: 5px;
    background-color: white;

}

header a:hover{
    color: blue;
}

header a:focus{
    background-color:#fff27d ;
}

.Evo {
    display: flex;
    justify-content: center;
    
}

.Doro2{
    display: flex;
    justify-content: center;
}
.Goro2{
    display: flex;
    justify-content: center;
}
.Gorniy2{
    display: flex;
    justify-content: center;
}
.Shos2{
    display: flex;
    justify-content: center;
}
.Gib2{
    display: flex;
    justify-content: center;
}
.BMX2{
    display: flex;
    justify-content: center;
}
.Elec2{
    display: flex;
    justify-content: center;
}
